/* 이미지 컬러값을 변수명으로 지정하여 아무때나 가져다 쓸 수 있음 */
:root {
  --main-color: rgb(149, 191, 71);
  --sub-color: rgb(100, 100, 100);
}

/* 테두리값 주며, 정렬을 센터로 지정함 */
div {
  width: 300px;
  height: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}

div:hover {
  background-color: rgb(161, 143, 143);
  transition: all 1s ease-in-out;
}

/* 이미지에 마우스를 오버한 경우 */
/* transform의 경우 특정요소 변동  rotateX, rotateY, rotateZ 값 사용가능*/
/* scale의 효과를 주면 확대효과 가능 */
div:hover img {
  transform: scale(1.5) rotateX(360deg);
}

/* 애니메이션 설정 moving-logo라는 함수만듬 */
/* 각 중간중간 각도마다 효과를 적용 시킬 수 있음 % 적용 */
/* translateX의 경우 X축 기준으로 위치변동 */
@keyframes moving-logo {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3);
  }
  40% {
    /* opacity 의 경우 투명도를 0으로 출력 */
    opacity: 0;
    transform: scale(3);
  }
  45% {
    /* 디스플레이 출력시키기 */
    display: block;
    transform: scale(3);
  }
  100% {
    display: block;
    transform: scale(3);
  }
}

/* transition의 경우 액션을 부드럽게 하는 역할을 한다. */
/* 애니메이션 효과 적용 infinite의 경우 무한으로 적용된다.*/
img {
  width: 100px;
  animation: moving-logo 3s infinite;
  /*transition: all 1s ease-in-out;*/
}

/* 메세지 띄우기 position : absolute값을 적용시키면 우선순위를 가져가 화면 위로 띄울 수 있게 됨*/
#info-msg {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모바일의 경우 사이즈가 달라지게 때문에 별도로 지정 */
@media screen and(max-width: 300px) {
  div {
    opacity: 0;
  }
  /* 모바일 화면이 300px보다 작아질 경우 메세지 띄우는 작업 메세지는 color_animation.html코드에 적용 */
  #info-msg {
    opacity: 1;
  }
}
